<app-header></app-header>
<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 Hello {{FirstName+" "+LastName }}
 <br>
 Contact: {{Contact}}
 <br>
 City: {{City}}
</div> -->
<app-slider></app-slider>
<router-outlet></router-outlet>


<!-- 
<app-table></app-table>
<app-form></app-form>
<app-panel></app-panel>
<app-contact></app-contact>
<hr/>
<app-user1></app-user1>
<hr/>
<hr>
<app-signup></app-signup>
<hr> -->

